.flex-box(@dir,@just, @align, @gap) {
  display: flex;
  flex-direction: @dir;
  justify-content: @just;
  align-items: @align;
  gap: @gap;
}

.blog-return {
    padding-top: 160px;

    &-cont {
        .flex-box(row, flex-start, flex-start, 0);

        .btn-return {
            background-color: transparent;
            border: none;
            .flex-box(row, center, center, 16px);
        }
    }
}
.blog-head {
    padding: 0;

    &-cont  {
        max-width: none;
    
        img {
            width: 100%;
            object-fit: cover;
            max-height: 420px;
        }
    }
}
.blog-main {

    &-cont {
        .flex-box(row, flex-start, flex-start, 40px);
    }
    &-title {
        .flex-box(column, flex-start, flex-start, 16px);
        position: sticky;
        top: 100px;
        width: 50%;
        max-width: 584px;

        h1.h1 {
            font-size: 48px !important;
        }
    }
    &-content {
        width: 100%;
        max-width: 616px;
        flex-shrink: 0;
        font-size: 14px;

        .h2, h2 {
            font-size: 24px !important;
            font-weight: 500  !important;
        }
        .h3, h3 {
            font-size: 14px !important;
            font-weight: 500 !important;
        }
        ol, ul {
            padding-left: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .blog-return {
        padding-top: 120px;
    }
    .blog-head {
        &-cont  {
            img {
                width: 100%;
                object-fit: cover;
                height: 420px;
            }
        }
    }
    .blog-main {
        &-title {
            position: static;
            width: 100%;
            max-width: none;
        }
        &-content {
            max-width: none;
        }
        &-cont {
            flex-direction: column;
        }
    }
}
@media (max-width: 768px) {
    .blog-return {
        padding-top: 100px;
    }
    .blog-head {
        &-cont  {
            img {
                height: 360px;
            }
        }
    }
}
@media (max-width: 480px) {
    .blog-return {
        padding-top: 80px;
        padding-bottom: 24px;
    }
    .blog-head {
        &-cont  {
            img {
                height: 320px;
            }
        }
    }
}