/* Mixins
***************************************************/

.flex-box(@dir,@just, @align, @gap) {
    display: flex;
    flex-direction: @dir;
    justify-content: @just;
    align-items: @align;
    gap: @gap;
  }
// Grid

.section-grid {
    &-cont {
        .flex-box(column, flex-start, center, 24px);
        position: relative;
        z-index: 1;

        &.bottom-divider {
            padding-bottom: 150px;
            border-bottom: 1px solid rgba(255,255,255, 0.2);
        }
    }
    &-title {
        font-size: 32px;
        text-align: center;
    }
    &-main {
        .flex-box(row, space-between, stretch, 8px);
        flex-wrap: wrap;
        width: 100%;
    }
    &-icon {
        width: 90px !important;
        height: 90px !important;
    }
    &-item {
        .flex-box(column, flex-start, center, 24px);
        border-radius: 32px;
        background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, rgba(34, 40, 73, 0.60) 0%, rgba(20, 24, 46, 0.60) 100%);
        backdrop-filter: blur(25px);

        &-content {
            .flex-box(column, flex-start, center, 16px);  
            text-align: center;
        }
        &.large {
            padding: 32px;
        }
        &.blue {
            background-color: #0F36F6;
            background: #0F36F6;
        }
        &.w-33 {
            width: calc(~'33% - 4px');
        }
    }
}

.value {
    &-grid-cont {
        .flex-box(column, flex-start, center, 24px);
    }
    &-grid-wrapper {
        .flex-box(row, center, stretch, 8px);
        flex-wrap: wrap;
    }
    &-grid-item {
        width: calc(~"33% - 8px");
        .flex-box(column, flex-start, center, 24px);
        padding: 30px;
        border-radius: 32px;
        background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, rgba(34, 40, 73, 0.60) 0%, rgba(20, 24, 46, 0.60) 100%);
        backdrop-filter: blur(25px);
        text-align: center;
        white-space: normal;
    }
    &-grid-icon {
        width: 90px !important;
        height: 90px !important;
        flex-shrink: 0 !important;
    }
    &-grid-3 {
        width: 32%;
        .flex-box(row, flex-start, flex-start, 24px);
    }
    &-grid-content {
        .flex-box(column, flex-start, flex-start, 16px);
        width: 100%;
        max-width: 200px;
    }
}


// Contact Form


.form-wrapper .field-list .title {
    display: none;
  }
  .form-wrapper .field-list textarea,
  .form-wrapper .field-list input,
  .form-wrapper .field-list select {
    border: none;
    padding: 15px 30px; 
    border-radius: 32px;
    background: rgba(45, 63, 139, 0.20);
    backdrop-filter: blur(25px);
    color: white;
  }
  .form-wrapper .field-list textarea {
    height: 131px;
  }
  .form-wrapper .field-list textarea::placeholder,
  .form-wrapper .field-list input::placeholder,
  .form-wrapper .field-list select::placeholder {
    color: white;
  }
  .form-wrapper .field-list .field .caption {
    display: none;
  }
  .form-wrapper .field-list svg {
    fill: white;
  }
  .qnsonuJxOV3wTlPalXk7 {
    right: 30px !important;
  }
  .form-button-wrapper button {
    border-radius: 32px !important;
    background: #0F36F6 !important;
    padding: 16px 24px !important;
    width: 200px !important;
    color: #FFF;
  }
  .form-button-wrapper button span {
    font-family: "Space Grotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;
  }

  // Blue Block

  .block-blue {
    &-cont {
        border-radius: 32px;
        .flex-box(column, flex-start, center, 32px);
    }
    &-title {
        text-align: center;
    }
    .block-content {
        .flex-box(row, center, stretch, 8px);
        flex-wrap: wrap;
        width: 100%;

        &-item {
            .flex-box(column, center, center, 24px);
            padding: 12px 24px;
            border-radius: 32px;
            background-color: #0F36F6;

            .h4 {
                font-size: 20px !important;
                max-width: 170px;
                text-align: center;
            }
            &.bg-dark {
                border-radius: 32px;
                background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, rgba(34, 40, 73, 0.60) 0%, rgba(20, 24, 46, 0.60) 100%);
                backdrop-filter: blur(25px);
            }
        }
    }
    .block-grid-4-item {
        width: calc(~"25% - 16px");
    }
    .block-grid-5-item {
        width: calc(~"20% - 16px");
    }
    .block-grid-6-item {
        width: calc(~"16% - 16px");
    }
  }

  // Reference

  .reference {
    &-cont {
        .flex-box(column, flex-start, center, 32px);
        width: 100%;
    }
    &-content {
        .flex-box(column, flex-start, stretch, 24px);
        width: 100%;
    }
    &-companies {
        .flex-box(row, center, center, 72px);
        flex-wrap: wrap;

        img {
            height: 50px;
            object-fit: cover;
        }

        &.solution-certification {
            gap: 100px;
            img {
                width: 70px;
                height: auto;
            }
        }
        
    }
    .companies-bottom {
        img {
            height: 75px;
        }
    }
  }

  // Statistics

  .statistics {
    &-cont {
        .flex-box(column, flex-start, center, 32px);
    }
    &-content {
        width: 100%;
        .flex-box(row, space-between, flex-start, 16px);
        row-gap: 48px;
    }
    &-item {
        .flex-box(column, flex-start, center, 24px);
        width: 25%;

        &-number {
            font-size: 56px;
            line-height: 110%;
        }
        &-text {
            font-size: 14px;
        }
    }
  }

  // Hardware Grid

  .hardware-grid {
    padding-top: 0px;

    &-cont {
        .flex-box(row, center, stretch, 8px);
        flex-wrap: wrap;
    }
    &-item {
        .flex-box(column, flex-start, center, 32px);
        padding: 30px;
        border-radius: 32px;
        background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, #2F3765 0%, #272E59 100%);
        backdrop-filter: blur(25px);
        position: relative;
        text-align: center;

        &.w-30 {
            width: calc(~"33% - 4px");
        }
        &.w-50 {
            width: calc(~"50% - 4px");
        }
        &-bg {
            width: 96px;
            height: 96px;
            background-color: #D9D9D9;
            filter: blur(100px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .h4 {
            max-width: 187px;
        }
    }
    &-img {
        height: 343px;
        width: 100%;
        object-fit: contain;
        position: relative;

        img {
            max-height: 343px;
            height: 100%;
            object-fit: contain !important;
        }
        &::after {
            content: '';
            width: 96px;
            height: 96px;
            border-radius: 100%;
            background-color: #d9d9d9;
            filter: blur(100px);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
        }
    }
    .grid-img-center {
        position: relative;
    }
    .grid-img-center > * {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
  }

  // How We Do It

  .hwd-timeline {
    &-cont {
        .flex-box(column, flex-start, center, 64px);
    }
    &-content {
        width: 100%;
        .flex-box(row, space-between, stretch, 0);
        position: relative;
    }
    &-item {
        .flex-box(column, space-between, center, 0);
        flex: 1;

        &-wrapper {
            height: 200px;
            .flex-box(column-reverse, flex-start, center, 24px);
            position: relative;

            .h4 {
                text-align: center;
            }
            
        }
        .line-connector {
            height: 32px;
            width: 2px;
            background-color: #4A4A50;
            position: absolute;
            bottom: 32px;
        }
        &:nth-child(2n) {
            flex-direction: column-reverse;

            .hwd-timeline-item-wrapper {
                flex-direction: column;
                transform: translateY(-40px);
            }
            .line-connector {
                top: 32px;
            }
        }
    }
    &-indicator {
        width: 100%;
        .flex-box(column, center, center, 0);
        position: relative;

        &-head {
            position: absolute;
            width: 100%;
            max-width: 100px;
            top: 50%;
            transform: translateY(-50%);
            height: 10px;
            border-radius: 32px;
            background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, rgba(34, 40, 73, 0.60) 0%, rgba(20, 24, 46, 0.60) 100%);
            backdrop-filter: blur(25px);
            z-index: 1;
        }
        svg {
            position: relative;
            z-index: 3;
        }
    }
    &-line {
        position: absolute;
        top: 178px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #0F36F6;
    }
    &-img {
        width: 90px;
        height: 90px;
        border-radius: 32px;
        background: radial-gradient(117.36% 77.71% at 23.77% 31.08%, rgba(34, 40, 73, 0.60) 0%, rgba(20, 24, 46, 0.60) 100%);
        backdrop-filter: blur(25px);
    }
    
  }

/* Marquee
***************************************************/
.marquee {

    &-home, &-wrapper, &-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &-wrapper, &-item {
      gap: 80px;
  
      img {
        height: 48px;
        width: fit-content;
      }
    }
    &-wrapper {
      position: relative;
      z-index: 1;
    //   animation: homemarquee 20s linear infinite;
    }
  
    &-overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 320px;
      height: 100%;
  
      &-left {
        left: 0;
        background: linear-gradient(90deg, #0D0D15 0%, rgba(13, 13, 21, 0.00) 100%);
      }
      &-right {
        right: 0;
        background: linear-gradient(90deg, rgba(13, 13, 21, 0.00) 0%, #0D0D15 100%);
      }
    }
    &-desktop {
        display: block;
    }
    &-mobile {
        display: none;
    }
  }
  
  
  
  @keyframes homemarquee {
    0% {
      transform: translateX(0);
    } 100% {
      transform: translateX(-1467.8px);
    }
  }

//   Eyebrow

.eyebrow {
    position: relative;
    z-index: inherit;
    width: 48px;
    height: 4px;
  
    &-one {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 25%;
      left: 0;
      top: 0;
    }
    &-two {
      position: absolute;
      z-index: 2;
      width: 66%;
      height: 4px;
      background-color: #fff;
      opacity: 50%;
      left: 0;
      top: 0;
    }
    &-three {
      position: absolute;
      z-index: 3;
      width: 33%;
      height: 4px;
      background-color: #fff;
      left: 0;
      top: 0;
    }
  }
  .eyebrow-100 {
    width: 100px;
  }

  @media (max-width: 1024px) {
    .marquee {
        &-home {
            padding: 48px !important;
        }
    }
    .value {
        &-grid-item {
            width: calc(~"33% - 8px");
            padding: 20px;
        }
        &-grid-3 {
            flex-direction: column;
        }
        &-grid-icon {
            width: 80px !important;
            height: 80px !important;
        }
    }
    .form-item.fields.name {
        .flex-box(column, flex-start, stretch, 0);
    }
    .field.first-name, .field.last-name {
        width: 100% !important;
    }
    .statistics {
        &-content {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item  {
            width: 32%;
        }
    }
    .block-blue {
        .block-content {
            justify-content: center;
            &-item {
                width: calc(~"33% - 8px")
            }
        }
    }
    .hwd-timeline {
        &-content {
          flex-direction: column;
        }
        &-line {
            top: 0;
            width: 2px;
            height: 100%;
            left: 50%;
            transform: translatex(-50%);
        }
        &-item {
            justify-content: center;
            flex-direction: row-reverse;

            &:nth-child(2n) {
                flex-direction: row;

                .hwd-timeline-item-wrapper {
                    flex-direction: row-reverse;
                    transform: translateX(20px);
                }
                .line-connector {
                    bottom: 50%;
                    right: 32px;
                    left: unset;
                    top: 50%;
                    height: 2px;
                    width: 32px;
                }
            }
            &-wrapper {
                flex-direction: row;
                width: 50%;
                height: 128px;

                .h4 {
                    text-align: left;
                }
                &:first-child {
                    transform: translateX(-20px);
                }
            }
            .line-connector {
                bottom: 50%;
                left: 32px;
                height: 2px;
                width: 32px;
            }
        }
        &-indicator {
            width: fit-content;
            height: 90px;

            &-head {
                width: 10px;
                height: 100%;
            }
        }
        &-img {
            padding: 16px;
            flex-shrink: 0;
        }
    }
}

@media (max-width: 768px) {
    .hwd-timeline-cont {
        gap: 48px;
    }
    .section-grid {
        &-item {
            width: calc(~'50% - 4px') !important;
            padding: 32px 16px !important;
        }
    }
    .value {
        &-grid-item {
            width: calc(~"50% - 8px");
        }
    }
    .statistics {
        &-item  {
            width: calc(~"50% - 32px");

            &-number {
                font-size: 40px;    
            }
        }
    }
    .hardware-grid {
        &-cont {
            flex-direction: column;
        }
        &-item {
            width: 100% !important;
        }
    }
    .reference {
        &-companies {
            gap: 48px;
        }
    }
    .marquee {
        &-desktop {
            display: none;
        }
        &-mobile {
            display: block;
        }
        &-overlay {
            display: none;
        }
    }
}
@media (max-width: 640px) {
    .block-blue {
        .block-content {
            &-item {
                width: calc(~"50% - 8px");
            }
        }
    }
    .hwd-timeline {
        &-line {
            left: 20px;
        }
        &-item {
            flex-direction: row;

            &:nth-child(2n) {
                .hwd-timeline-item-wrapper {
                    flex-direction: row;
                    transform: translatex(0);
                }
                .line-connector {
                    left: 32px;
                    right: unset;
                }
            }
            &-wrapper {
                &:first-child {
                    transform: translateX(0);
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .section-grid {
        &-item {
            width: 100%!important;
            padding: 32px 8px !important;
        }
    }
    .marquee {
        &-item {
            img {
                height: 40px;
            }
        }
    }
    .reference {
        &-companies {
            gap: 32px;
        }
    }
}